@using Agency.Core.Entities
@model List<Product>

@{
    int count = 0;
}
<div class="container">
    <div class="d-flex" style="justify-content:space-between;align-items:center">
        <h1>Products</h1>
        <a class="btn btn-primary" asp-controller="Feauture" asp-action="Create">Create</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Icon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Feauture" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger item-delete" asp-controller="Feauture" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
